h1 {
    text-align: center;
}

.formulario {
    margin: 1em;
    width: 500px;
}

.block {
    margin-top: 20px;
    display: flex;
}

.block button {
    display: block;
    width: 100%;
}

.box-image {
    width: 70px;
    height: 60px;
    align-items: center;
}